<div id="select-options" class="mb-6">
    <div class="font-bold text-white">Select Stories</div>
    <div class="mt-4 space-y-4">
        {% for story in stories %}
        <div class="flex items-start">
            <input
                type="checkbox"
                id="{{ story.id }}"
                name="story-option"
                value="{{ story.id }}"
                class="mr-2 bg-gray-800 border-gray-600 text-rioRed focus:ring-rioRed"
            >
            <div>
                <label for="{{ story.id }}" class="text-gray-300 font-bold">{{ story.title }}</label>
                <!-- Display vector position and similarity score below the title -->
                <div class="text-sm text-gray-400">
                    x
                    {{ story.internal_title }}
                </div>
                <div class="text-sm text-gray-400">
                    {{ story.internal_publisher }}
                </div>
                <div class="text-sm text-gray-400">
                    Similarity Score: {{ story.similarity_score|floatformat:4 }}
                </div>
                <div class="text-sm text-gray-400">
                    Similarity Score: {{ story.similarity_score|floatformat:4 }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>