<div class="fixed top-16 left-0 w-80 h-[calc(100vh-4rem)] bg-gray-900 text-white p-4 flex flex-col">
    <!-- Scrollable content -->
    <div class="overflow-y-auto flex-grow">
        <div class="mb-4">
            <label class="font-bold text-gray-300" for="prompt-name">Name</label>
            <input id="prompt-name" name="prompt-name"
                   class="w-full mt-1 px-2 py-1 bg-gray-800 text-white rounded-md border border-gray-600 focus:outline-none focus:border-rioRed"
                   placeholder="Enter your save name here..."/>
        </div>

        <div class="mb-4">
            <label class="font-bold text-gray-300" for="news-market">News market/locale</label>
            <textarea name="news-market" id="news-market"
                      rows="3"
                      class="w-full mt-1 px-2 py-1 bg-gray-800 text-white rounded-md border border-gray-600 focus:outline-none focus:border-rioRed"
                      placeholder="Enter your news market (e.g US, GB).">US</textarea>
        </div>

        <div class="mb-4">
            <div class="font-bold text-white">BingNews Feed</div>
            <div class="grid grid-cols-2 gap-4 mt-2">
                <div>
                    <input
                            type="radio"
                            id="is-categorised-headlines"
                            name="selected-news-feed"
                            value="categorised-headlines"
                            class="mr-2 bg-gray-800 border-gray-600 text-rioRed focus:ring-rioRed"
                            checked>
                    <label for="is-categorised-headlines" class="text-gray-300">Categorised headlines</label>
                </div>
                <div>
                    <input
                            type="radio"
                            id="is-top-headlines"
                            name="selected-news-feed"
                            class="mr-2 bg-gray-800 border-gray-600 text-rioRed focus:ring-rioRed"
                            value="top-headlines">
                    <label for="is-top-headlines" class="text-gray-300">Top General Headlines</label>
                </div>

            </div>
        </div>

        <div class="mb-4">
            <div class="font-bold text-white">Internal Story matching</div>
            <div class="grid lg:grid-cols-3 gap-4 mt-1">
                <div>
                    <input
                            type="radio"
                            id="match-on-title"
                            name="internal-story-matching"
                            value="match-on-title"
                            class="mr-2 bg-gray-800 border-gray-600 text-rioRed focus:ring-rioRed"
                            checked>
                    <label for="match-on-title" class="text-gray-300">Match on title</label>
                </div>
                <div>
                    <input
                            type="radio"
                            id="match-on-summary"
                            name="internal-story-matching"
                            class="mr-2 bg-gray-800 border-gray-600 text-rioRed focus:ring-rioRed"
                            value="match-on-summary">
                    <label for="match-on-summary" class="text-gray-300">Match on summary</label>
                </div>
                <div>
                    <input
                            type="radio"
                            id="match-on-both"
                            name="internal-story-matching"
                            class="mr-2 bg-gray-800 border-gray-600 text-rioRed focus:ring-rioRed"
                            value="match-on-both">
                    <label for="match-on-both" class="text-gray-300">Match on both</label>
                </div>
            </div>
        </div>
        
        
        <div class="mb-4">
            <div class="font-bold text-white">Headline de-duping?</div>
            <div class="grid lg:grid-cols-3 gap-4 mt-1">
                <div>
                    <input
                            type="radio"
                            id="do-not-dedupe-headlines"
                            name="dedupe-headlines"
                            value="false"
                            class="mr-2 bg-gray-800 border-gray-600 text-rioRed focus:ring-rioRed">
                    <label for="do-not-dedupe-headlines" class="text-gray-300">Don't dedupe</label>
                </div>
                <div>
                    <input
                            type="radio"
                            id="do-dedupe-headlines"
                            name="dedupe-headlines"
                            class="mr-2 bg-gray-800 border-gray-600 text-rioRed focus:ring-rioRed"
                            value="true"
                            checked>
                    <label for="do-dedupe-headlines" class="text-gray-300">Dedupe</label>
                </div>
                <div>
                    <label class="font-bold text-gray-300 " for="dedupe-threshold">Dedupe simil. thresh.
                    </label>
                    <input id="dedupe-threshold" name="dedupe-threshold"
                           class="mt-1 px-2 py-1 bg-gray-800 text-white rounded-md border border-gray-600 focus:outline-none focus:border-rioRed"
                           type="number" value="0.5"
                           max="0.99" min="0.01"/>
                </div>
            </div>
        </div>

        <div class="mb-4 flex justify-between items-center">
            <label class="font-bold text-gray-300 " for="headline-limit">Num. Raw Headlines (only applies when selecting
                the
                Top General Headlines feed)</label>
            <input id="headline-limit" name="headline-limit"
                   class="mt-1 px-2 py-1 bg-gray-800 text-white rounded-md border border-gray-600 focus:outline-none focus:border-rioRed"
                   type="number" value="20"
                   max="50" min="10"/>
        </div>


        <div class="mb-4">
            <label class="font-bold text-gray-300" for="prompt-value">LLM re-ranking prompt</label>
            <textarea name="prompt-value" id="prompt-value"
                      rows="3"
                      class="w-full mt-1 px-2 py-1 bg-gray-800 text-white rounded-md border border-gray-600 focus:outline-none focus:border-rioRed"
                      placeholder="Enter your LLM re-ranking prompt here..."></textarea>
        </div>
    </div>


    <!-- Buttons for Running Prompt -->
    <div class="pt-2 border-t border-gray-600">
        <button class="mb-2 w-full py-3 bg-rioRed text-white rounded-md shadow hover:bg-rioRed-dark focus:outline-none"
                hx-post="/news/run/"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-target="#output-box"
                hx-swap="innerHTML"
                hx-include="
                [name=news-market],
                [name=selected-news-feed],
                [name=headline-limit],
                [name=internal-story-matching],
                [name=prompt-value],
                [name=dedupe-headlines],
                [name=dedupe-threshold]
"
                hx-indicator="#loading-indicator"
        >Run
        </button>
        <button class="mb-2 w-full py-3 bg-blue-600 text-white rounded-md shadow hover:bg-gray-600 focus:outline-none"
                id="save-button"
                hx-post="/news/save/"
                hx-swap="none"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-include="
                [name=prompt-name],
                [name=news-market],
                [name=selected-news-feed],
                [name=headline-limit],
                [name=internal-story-matching]
                [name=prompt-value],
                [name=matched-stories],
                [name=unmatched-stories]"
                hx-indicator="#loading-indicator">
            SAVE
        </button>
        <script>
          // JavaScript to collect matched and unmatched stories
          document.addEventListener('htmx:configRequest', function (evt) {
            const matchedStories = [...document.querySelectorAll("#headline-reranking-results table tbody tr")]
              .map(row => {
                const cells = row.querySelectorAll('td');
                return {
                  title: cells[0].textContent,
                  summary: cells[1].textContent,
                  publication: cells[2].textContent,
                  category: cells[3].textContent,
                  score: cells[4] ? parseFloat(cells[4].textContent) : null,
                  internal_title: cells[5] ? cells[5].textContent : null,
                  internal_publisher: cells[6] ? cells[6].textContent : null,
                  similarity_score: cells[8] ? parseFloat(cells[8].textContent) : null
                };
              });

            const unmatchedStories = [...document.querySelectorAll("#headline-results table tbody tr")]
              .map(row => {
                const cells = row.querySelectorAll('td');
                return {
                  title: cells[0].textContent,
                  summary: cells[1].textContent,
                  publication: cells[2].textContent,
                  category: cells[3].textContent
                };
              });

            console.log(matchedStories);
            evt.detail.parameters['matched-stories'] = JSON.stringify(matchedStories);
            evt.detail.parameters['unmatched-stories'] = JSON.stringify(unmatchedStories);
          });
        </script>
    </div>
</div>