{% extends 'layout.html' %}

{% block content %}
<input name="csrf-token" id="csrf-token" type="hidden"/>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6 p-4 text-white">
    <!-- Score Ranking Card -->
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 hover:bg-gray-700 transition duration-300">
        <div class="flex items-center justify-between mb-4">
            <h3 class="text-2xl font-bold text-blue-400">Score Ranking</h3>
            <span id="score_ranking_status" class="text-green-400 font-semibold">Ready</span>
        </div>
        <p class="text-gray-300 mb-4">A score-based ranking page for internal content.</p>
        <a href="/score-ranking" class="text-blue-500 hover:text-blue-400 font-bold">Go to Score Ranking</a>
    </div>

    <!-- News Ranking Card -->
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 hover:bg-gray-700 transition duration-300">
        <div class="flex items-center justify-between mb-4">
            <h3 class="text-2xl font-bold text-blue-400">News Ranking</h3>
            <span id="news_ranking_status" class="text-rioRed font-semibold">NOT READY</span>
        </div>
        <p class="text-gray-300 mb-4">A score-based ranking page for content based on news</p>
        <a href="/score-ranking" class="hidden disabled text-blue-500 hover:text-blue-400 font-bold">Go to News Ranking</a>
    </div>

    <!-- Transformer Card -->
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 hover:bg-gray-700 transition duration-300">
        <div class="flex items-center justify-between mb-4">
            <h3 class="text-2xl font-bold text-blue-400">Transformer</h3>
            <span id="transformer_status" class="text-rioRed font-semibold">NOT READY</span>
        </div>
        <p class="text-gray-300 mb-4">An LLM text transformer</p>
        <a href="/transformer" class="hidden disabled text-blue-500 hover:text-blue-400 font-bold">Go to Transformer</a>
    </div>

    <!-- Add more cards here for additional playgrounds -->
</div>

{% endblock %}