<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurioAI Playground</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css">
    <script>
      // Fetch CSRF token from /utilities/csrf_token
      document.addEventListener('DOMContentLoaded', function () {
        fetch('/utility/get-csrf-token/')
          .then(response => response.text())
          .then(token => {
            document.querySelectorAll('[name=csrf-token]').forEach(function (input) {
              input.value = token;
            });
          });
      });
    </script>
</head>
<body class="bg-black">

{% include 'navbar.html' %}
{% include 'loading_indicator.html' %}


<div class="pt-20">
    {% block content %}{% endblock %}
</div>


</body>
<script>
  document.addEventListener('htmx:beforeRequest', function (event) {
    document.querySelector('#loading-indicator').classList.remove('hidden');
  });

  document.addEventListener('htmx:afterRequest', function (event) {
    document.querySelector('#loading-indicator').classList.add('hidden');
  });
</script>
</html>
