{% extends 'layout.html' %}

{% block content %}
<input name="csrf-token" id="csrf-token" type="hidden"/>

<div class="">
    <!-- Sidebar spanning 4 columns -->
    <div class="fixed top-0 left-0 w-80 h-screen bg-gray-900 p-6 z-40 shadow-lg overflow-y-auto">
        {% include 'news_ranking_sidebar.html' %}
    </div>

    <!-- Main content spanning 8 columns -->
    <div class="ml-80">
        <div id="output-box" class="grid grid-cols-2 gap-12">
            <div id="headline-results"></div>
            <div id="headline-reranking-results"></div>
        </div>
    </div>
</div>

{% endblock %}