<!-- Story Content Area -->

<div class="text-white p-12">
    <div class="grid grid-cols-2 gap-12">
        <div>
            <ul class="bg-gray-900 rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-semibold text-gray-200 mb-2">Vector Results</h3>
                {% for vs in vector_stories %}
                <li class="py-2 border-b border-gray-700 last:border-none text-gray-300 hover:bg-gray-800 rounded-md transition duration-200">
                    <a href="/api/stories/{{ vs.id }}" id="{{vs.id}}" target="_blank"
                       class="cursor-pointer text-base text-gray-100 hover:underline">
                        {{vs.position}}. {{ vs.title }}
                    </a>
                    <div class="flex items-center justify-between ">
                        <p class="text-xs text-gray-400 mt-1">Similarity: {{vs.similarity_score|floatformat:4}}</p>
                        <div class="flex gap-4 ">
                            <p class="text-xs font-semibold text-gray-400 mt-1">{{vs.publication}}</p>
                            <p class="text-xs text-gray-400 mt-1">{{vs.published_at|date:"F j, Y"}}</p>
                        </div>
                    </div>

                </li>
                {% empty %}
                <li class="py-2 text-red-500 font-semibold">No stories available.</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Second List of Stories -->
        <div>
            <ul class="bg-gray-900 rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-semibold text-gray-200 mb-2">LLM Results</h3>
                {% for llm_story in llm_stories %}
                <li class="py-2 border-b border-gray-700 last:border-none text-gray-300 hover:bg-gray-800 rounded-md transition duration-200">
                    <input type="hidden" name="story-id" value="{{llm_story.id}}"/>
                    <input type="hidden" name="similarity-score" value="{{llm_story.similarity_score}}"/>
                    <input type="hidden" name="vector-position" value="{{llm_story.position}}"/>
                    <a href="/api/stories/{{ llm_story.id }}" id="{{llm_story.id}}" target="_blank"
                       class="cursor-pointer text-base text-gray-100 hover:underline">
                        {{ llm_story.title }}
                    </a>
                    <div class="flex items-center justify-between ">
                        <div class="flex gap-4 ">
                            <p class="text-xs text-gray-400 mt-1">Score: {{llm_story.value}}</p>
                            <p class="text-xs text-gray-400 mt-1">Similarity: {{llm_story.similarity_score|floatformat:4}}</p>
                            <p class="text-xs text-gray-400 mt-1">Vector Position: {{llm_story.position}}</p>

                        </div>
                        <div class="flex gap-4 ">
                            <p class="text-xs font-semibold text-gray-400 mt-1">{{llm_story.publication}}</p>
                            <p class="text-xs text-gray-400 mt-1">{{llm_story.published_at|date:"F j, Y"}}</p>
                        </div>
                    </div>
                </li>
                {% empty %}
                <li class="py-2 text-red-500 font-semibold">No stories available.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>