<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurioAI Playground</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css">
    <script>
      // Fetch CSRF token from /utilities/csrf_token
      document.addEventListener('DOMContentLoaded', function () {
        fetch('/utility/get-csrf-token/')
          .then(response => response.text())
          .then(token => {
            document.querySelectorAll('[name=csrf-token]').forEach(function (input) {
              input.value = token;
            });
          });
      });
    </script>
</head>
<body class="bg-black p-6">
<div id="loading-indicator"
     class="hidden text-center fixed top-0 left-0 w-full h-full flex items-center justify-center bg-opacity-50 bg-gray-800">
    <svg class="animate-spin h-10 w-10 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
    </svg>
    <div class="text-white ml-3">Loading...</div>
</div>

<div class="container mx-auto text-white">
    <div class="text-center text-2xl font-bold text-white mb-6">
        CurioAI Playground - Score Ranking
    </div>
    <input name="csrf-token" id="csrf-token" type="hidden"/>

    <div class="grid grid-cols-12 gap-4 min-vw-100">
        <!-- Main content spanning 8 columns -->
        <div class="col-span-8 grid grid-cols-12 gap-4 p-4">
            <div class="col-span-12 text-2xl">NAME</div>

            <label class="col-span-3 hidden" for="prompt-name">NAME</label>
            <input id="prompt-name" name="prompt-name" class="disabled hidden col-span-9 input-primary"
                   placeholder="<name of prompt creator's choice, to save prompt>"/>

            <label class="col-span-3" for="prompt-value">PROMPT</label>
            <textarea name="prompt-value" id="prompt-value"
                      class="col-span-9 bg-gray-500 py-2 rounded-sm text-white text-center border border-rioRed shadow-md focus:outline-none focus:ring-rioRed"
                      placeholder="Enter your prompt here..."></textarea>

            <label class="col-span-3 " for="story-limit">STORY LIMIT</label>
            <input id="story-limit" name="story-limit" class="col-span-3 input-primary" type="number" value="20"
                   max="100" min="1" placeholder="<name of prompt creator's choice, to save prompt>"/>

            <button class="col-start-4 col-span-3 btn-primary"
                    hx-post="/score-ranking-prompt/"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-target="#output-box"
                    hx-swap="innerHTML"
                    hx-include="[name=story-limit], [name=prompt-value]"
                    hx-indicator="#loading-indicator"
            >RUN
            </button>
            <button class="col-start-7 col-span-3 btn-secondary"
                    hx-post="/score-ranking-prompt/"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-target="#output-box"
                    hx-swap="innerHTML"
                    hx-include="[name=story-id], [name=prompt-value]"
                    hx-indicator="#loading-indicator"
            >RUN AGAIN
            </button>

            <!--        <button class="mr-2 col-span-2 bg-rioRedDark text-black text-center py-2 rounded-sm shadow-md hover:bg-rioRedDark focus:outline-none focus:ring focus:ring-rioRed focus:ring-opacity-75"-->
            <!--                disabled>SAVE-->
            <!--        </button>-->

            <div class="col-start-1 col-span-4 flex flex-row gap-3 justify-content-between my-4">
                <div class="py-2">KEY</div>
                <div class="input-primary px-2">USER EDITABLE FIELDS</div>
            </div>
        </div>
        <div class="sticky col-start-9 col-span-4 row-span-3">
            <div id="output-box" class="text-sm">OUTPUT
                <ul class="text-black list-disc list-inside bg-gray-800 rounded-lg shadow-lg mt-6 mr-6 py-64">
                </ul>
            </div>


        </div>
    </div>
</div>

</body>
<script>
  document.addEventListener('htmx:beforeRequest', function (event) {
    document.querySelector('#loading-indicator').classList.remove('hidden');
  });

  document.addEventListener('htmx:afterRequest', function (event) {
    document.querySelector('#loading-indicator').classList.add('hidden');
  });
</script>
</html>


